body {
    margin: 0;
    min-width: 1511px;
    background-color: #eaedf1;
}

.wrapper {
    margin: 82px 83px 0px 80px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header {
    height: 295px;
    margin-bottom: 38px;
}

.header .layout-column {
    background-color: #ffffff;
}

.header .layout-column-1 {
    float: left;
    width: 435px;
    height: 100%;
}

.header .layout-column-2 {
    float: right;
    width: 825px;
    height: 100%;
}

.header .layout-column-1 .item {
    float: left;
    font-family: 'Signika', sans-serif;
    text-align: center;
    font-size: 16px;
    color: white;
    margin-top: -12px;
    width: 100%;
}

.header .layout-column-1 .item img {
    position: relative;
    top: 9px;
}

.header .layout-column-1 .item-1 img {
    left: 26px;
}

.header .layout-column-1 .item-2 img {
    left: 2px;
}

.header .layout-column-1 .item-3 img {
    left: 35px;
}

.header .layout-column-1 .item-4 img {
    left: 16px;
}

.header .layout-column-1 .item span {
    position: relative;
}

.header .layout-column-1 .item-1 span {
    left: -15px;
    top: 25px;
}

.header .layout-column-1 .item-2 span {
    left: 0px;
    top: 10px;
}

.header .layout-column-1 .item-3 span {
    left: -15px;
    top: 25px;
}

.header .layout-column-1 .item-4 span {
    left: -15px;
    top: 22px;
}

.header .layout-column-1 .item .item-1 {
    float: left;
    width: 25%;
    height: 78px;
    background-color: #16c4ec;
}

.header .layout-column-1 .item .item-2 {
    float: left;
    width: 25%;
    height: 78px;
    background-color: #fa5351;
}

.header .layout-column-1 .item .item-3 {
    float: left;
    width: 25%;
    height: 78px;
    background-color: #10cdc1;
}

.header .layout-column-1 .item .item-4 {
    float: left;
    width: 25%;
    height: 78px;
    background-color: #33495f;
}

.header .layout-column-1 .title {
    font-family: 'Signika', sans-serif;
    color: #33495F;
    font-size: 30px;
    position: relative;
    bottom: 115px;
    left: 215px;
}

.header .layout-column-1 .comment {
    font-family: 'Lado', sans-serif;
    color: #727F8D;
    font-size: 17px;
    position: relative;
    bottom: 85px;
    left: 23px;
}

.header .layout-column-1 .avatar {
    margin-left: 20px;
    margin-top: 28px;
}

.header .layout-column-2 .about {
    width: 100%;
    height: 216px;
}

.about .info {
    float: left;
    width: 404px;
    height: 200px;
    padding-top: 18px;
    padding-left: 28px;
}

.about .info h1 {
    color: #33495F;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
}

.about .info p {
    color: #637484;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: justify;
    position: relative;
    top: -15px;
    line-height: 31px;
}

.header .layout-column-2 .about .info .blue {
    color: #36CBEE;
}

.header .layout-column-2 .about .link {
    width: 350px;
    height: 212px;
    float: right;
}

.header .layout-column-2 .about .link a {
    color: #33495F;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    text-align: center;
    position: relative;
    top: 105px;
    left: 40px;
}

.header .layout-column-2 .about .link a:last-child {
    color: #FA5452;
    border-bottom: 1px solid #33495F;
    padding-bottom: 33px;
    letter-spacing: 3px;
    position: relative;
    top: 125px;
    left: 40px;
}

.header .layout-column-2 .icons {
    width: 100%;
    height: 80px;
    clear: both;
    padding-left: 25px;
}

.header .layout-column-2 .icons .icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 40px;
    margin-top: 23px;
}

.features .layout-column-1 {
    float: left;
    width: 635px;
    height: 1096px;
}

.features .layout-column-2 {
    float: left;
    width: 89px;
    height: 1174px;
}

.features .layout-column-3 {
    float: left;
    width: 624px;
    height: 1165px;
}

.footer {
    min-height: 120px;
}

.features .layout-column-1 .block {
    margin-bottom: 32px;
    background-color: white;
}

.features .layout-column-1 .block-1 {
    height: 339px;
    padding: 10px 10px;
}

.features .layout-column-1 .block-2 {
    height: 320px;
    padding: 10px 10px;
}

.features .layout-column-1 .block-3 {
    height: 170px;
    padding: 10px 10px;
}

.features .layout-column-1 .block-4 {
    height: 170px;
    padding: 10px 10px;
}

.features .layout-column-1 .block {
    margin-left: 0px;
    margin-top: 0px;
    width: 614px;
    height: 320px;
    background-color: #ffffff;
}

.features .layout-column-1 .block-2 {
    height: 300px;
}

.features .layout-column-1 .block-3 {
    height: 155px;
}

.features .layout-column-1 .block-4 {
    height: 146px;
}

.features .layout-column-1 .block .container {
    width: 635px;
    display: flex;
}

.features .layout-column-1 .block h2 {
    max-width: 400px;
    display: inline-block;
    margin: 0;
    font-family: Lato;
    font-size: 22px;
    padding-left: 16px;
    padding-top: 18px;
    letter-spacing: 1px;
}

.features .layout-column-1 .block span {
    display: inline-block;
    padding-left: 11px;
    padding-top: 23px;
    color: #C5CAD2;
    font-family: Lato;
    font-size: 18px;
}

.features .layout-column-1 .block h3 {
    margin: 0;
    font-family: Lato;
    font-size: 18px;
    padding-left: 14px;
    padding-top: 5px;
    letter-spacing: 1px;
    color: #21C4B0;
}

.features .layout-column-1 .block ul {
    padding-left: 17px;
    margin-top: 27px;
    list-style: none;
    font-family: Lato;
    font-size: 16px;
    /* color: #; */
}

.features .layout-column-1 .block-2 ul {
    margin-top: 13px;
}

.features .layout-column-1 .block ul li {
    background: url("img/icon-check.png") no-repeat 0 5px;
    padding: 7px 0px 8px 29px;
}

.features .layout-column-1 .items {
    width: 635px;
    display: flex;
}

.features .layout-column-1 .block-3 h2 {
    padding-top: 23px;
}

.features .layout-column-1 .block-3 .items {
    padding-top: 10px;
}

.features .layout-column-1 .block-4 .items {
    padding-top: 10px;
}

.features .layout-column-1 .items .img-1 {
    display: inline-block;
    padding-left: 15px;
    padding-top: 0px;
}

.features .layout-column-1 .items .img-2 {
    display: inline-block;
    padding-left: 50px;
    padding-top: 0px;
}

.features .layout-column-1 .items span {
    vertical-align: 40%;
    display: inline-block;
    padding-left: 0px;
    padding-top: 25px;
    color: #C5CAD2;
    font-family: Lato;
    font-size: 16px;
    vertical-align: 20%;
}

.features .layout-column-1 .items span:last-child {
    display: inline-block;
    padding-left: 0px;
    padding-top: 25px;
    color: #C5CAD2;
    font-family: Lato;
    font-size: 16px;
}

.features .layout-column-1 .button {
    font-family: Lato;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    left: 83px;
    top: 13px;
    width: 218px;
    height: 38px;
    padding: 10px;
    margin: 5px;
    background-color: #16c4ec;
    color: white;
    border-radius: 5px;
    border: 0px;
}

.features .layout-column-1 .button-2 {
    left: 92px;
    top: 11px;
    width: 218px;
    height: 37px;
}

.features .layout-column-1 .button-3 {
    left: 71px;
    background-color: #b0bbca;
}

.features .layout-column-1 .button-4 {
    left: 75px;
    top: 9px;
    background-color: #b0bbca;
}

.features .layout-column-3 .block {
    margin-bottom: 32px;
    background-color: #dbe1e8;
    font-family: "Lato";
}

.features .layout-column-3 .block-1 {
    height: 405px;
    background-color: #eaedf1;
    border-bottom: 3px dotted #dbe1e8;
    position: relative;
    top: -20px;
    border-radius: 4px;
}

.features .layout-column-3 .block-1 .post {
    width: 100%;
    height: 170px;
    background-color: #dbe1e8;
    margin-bottom: 32px;
}

.features .layout-column-3 .block-2 {
    height: 130px;
    position: relative;
    top: -20px;
}

.features .layout-column-3 .block-3 {
    height: 130px;
    position: relative;
    top: -20px;
}

.features .layout-column-3 .block-4 {
    height: 400px;
    background-color: white;
    position: relative;
    top: -20px;
}

.features .layout-column-3 .block h2 {
    padding-top: 30px;
    padding-left: 20px;
    font-size: 22px;
}

.features .layout-column-3 .block h3 {
    color: #3BC2DB;
    font-size: 18px;
    position: relative;
    top: -74px;
    left: 21px;
}

.features .layout-column-3 .comment {
    font-size: 16px;
    color: #748393;
    display: inline-block;
    padding-left: 11px;
    padding-top: 23px;
    font-family: Lato;
    position: relative;
    top: -62px;
    left: 76px;
}

.features .layout-column-3 .block-2 .comment {
    position: relative;
    top: -60px;
    left: 254px;
}

.features .layout-column-3 .block-3 .comment {
    position: relative;
    top: -62px;
    left: 338px;
}

.features .layout-column-3 .block .tags {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    top: -75px;
}

.features .layout-column-3 .block .tags-3, .features .layout-column-3 .block .tags-4 {
    top: -98px;
}

.features .layout-column-3 .block .tags-3, .features .layout-column-3 .block .tags-4 {
    top: -98px;
}

.features .layout-column-3 .block .img {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.features .layout-column-3 .block .img-mark {
    margin-left: 19px;
}

.features .layout-column-3 .tags-1 .img-refresh, .features .layout-column-3 .tags-2 .img-refresh, .features .layout-column-3 .tags-3 .img-refresh {
    margin-left: 58px;
}

.features .layout-column-3 .tags-4 .img-refresh {
    margin-left: 40px;
}

.features .layout-column-3 .post input {
    background-color: #10CDC1;
}

.features .layout-column-3 .button {
    font-family: Lato;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    left: 6px;
    top: -2px;
    width: 218px;
    height: 38px;
    padding: 10px;
    margin: 5px;
    color: white;
    border-radius: 5px;
    border: 0px;
    margin-left: 79px;
}

.features .layout-column-3 .tags-2 .button {
    position: relative;
    left: -2px;
    top: 0px;
}

.features .layout-column-3 .block .tag {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: #748393;
    font-size: 13px;
}

.features .layout-column-3 {
    float: right;
    margin-right: 0px;
    width: 623px;
    height: 1164px;
}

.features .block {
    border-radius: 4px;
}

.features .layout-column-3 .block {
    width: 100%;
    margin-bottom: 32px;
}

.features .layout-column-3 .block-1 {
    border-bottom: 3px dotted #DBE1E8;
    border-radius: 0px;
    background-color: #EAEDF1;
}

.features .layout-column-3 .block-1 .post {
    width: 100%;
    background-color: #DBE1E8;
    border-radius: 4px;
}

.features .layout-column-3 .block-1 .post-1 {
    margin-bottom: 32px;
}

.features .layout-column-3 .block-2 .tags .star-1 {
    position: relative;
    padding-top: 10x;
    left: 211px;
}

.features .layout-column-3 .block-3 .tags .star-2 {
    position: relative;
    top: 5x;
    left: 211px;
}